div{
	border: 1px solid white;
}
body{
	background-image: url("obrazek.jpg");
}
#glowny{
	width:1000px;
	height:900px;
	margin: 0 auto;
	background: rgb(0,0,255);
	background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(0,255,255,1) 25%, rgba(255,0,255,1) 50%, rgba(46,0,101,1) 75%, rgba(0,0,255,1) 100%);
	opacity: 0.99;
}
#tytul{
	height:50px;
	color: white;
}
#menu{
	width:298px;
	float:left;
	height:848px;
	color: white;
	font-size:20px;
}
#srodek{
	width:698px;
	float:right;
	height:848px;
	color: white;
	text-align: center;
}
h2, h3{
	text-align: center;
	color: white;
}
a{
	color:lime;
}
img{
	width:698px;
	margin-top:200px;
}
.tak1{
	background-color:cyan;
	border: solid blue 1px;
	text-align:center;
	float:left;
	margin-left:10px;
	line-height:55px;
	margin-bottom:10px;
	width:150px;
	height:50px;
}
.tak1:hover{
	background-color:black;
}
.tak{
		background-color:cyan;
	border: solid blue 1px;
	text-align:center;
	float:left;
	margin-left:10px;
	line-height:55px;
	margin-bottom:10px;
	width:100px;
	height:50px;
}
.aa{
	clear:both;
}